body, html {
	background: rgb(240, 240, 240);
	color: rgb(60, 60, 60);
	margin: 0 auto;
}

* {
	font-family: system-ui;
	user-select: none;
}

#config-pane {
	text-align: center;
	padding: 3em 1.5em;
}

#torrents-pane {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	max-width: 420px;
	max-height: 500px;
}

header {
	flex: none;
	display: flex;
	align-items: center;
	padding: 0.8em 1em 0.5em;
}

@supports (not (-moz-appearance: none)) {
	header {
		padding: 0.5em 1em;
	}
}

header :first-child {
	flex: 1;
}

header h1 {
	font-size: 1.3em;
	margin: 0;
	padding: 0 0 0.1em;
}

header img {
	width: 1.8em;
	height: 1.8em;
	margin-left: 0.8em;
}

#torrents-search {
	flex: none;
	display: block;
	margin: 0 1em 0.6em;
	padding: 0.4em;
	border-radius: 3px;
	border: 1px solid #999;
}

#torrents-search:focus {
	box-shadow: 0 0 6px #aac;
}

#torrents-list {
	background: white;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
}

#torrents-list li {
	margin: 0;
	padding: 1em;
	border-bottom: 1px solid rgb(240, 240, 240);
}

#torrents-list li:last-child {
	border-bottom-width: 0;
}

#torrents-list progress {
	width: 100%;
	margin-top: 0.2em;
}

.torrent-head {
	display: flex;
	justify-content: space-between;
}

.torrent-name {
	flex: 1;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-right: 1em;
}

@media screen and (prefers-color-scheme: dark) {
	body, html {
		background: rgb(60, 60, 60);
		color: rgb(240, 240, 240);
	}
	#config-pane a {
		color: rgb(140, 140, 255);
	}
	header img {
		filter: invert();
	}
	#torrents-list {
		background: rgb(40, 40, 40);
	}
	#torrents-list li {
		border-color: rgb(70, 70, 70);
	}
}
