body, html {
	background: rgb(240, 240, 240);
	color: rgb(60, 60, 60);
}

* {
	font-family: sans-serif;
	user-select: none;
}

#config-pane {
	text-align: center;
	padding: 3em 1.5em;
}

#torrents-pane {
	display: flex;
	flex-direction: column;
	max-width: 420px;
	max-height: 500px;
}

header {
	display: flex;
	align-items: center;
	padding: 0.1rem 1rem;
}

header :first-child {
	flex: 1;
}

header h1 {
	font-size: 1.3rem;
}

header img {
	width: 1.8rem;
	height: 1.8rem;
	margin-left: 0.8em;
}

#torrents-search {
	margin: 0 1rem 0.6rem;
	padding: 0.4rem;
	border-radius: 3px;
	border: 1px solid #999;
}

#torrents-search:focus {
	box-shadow: 0 0 6px #aac;
}

#torrents-list {
	background: white;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
}

#torrents-list li {
	margin: 0;
	padding: 1rem;
	border-bottom: 1px solid rgb(240, 240, 240);
}

#torrents-list li:last-child {
	border-bottom-width: 0;
}

#torrents-list progress {
	width: 100%;
	margin-top: 0.2rem;
}

.torrent-head {
	display: flex;
	justify-content: space-between;
}

.torrent-name {
	flex: 1;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-right: 1em;
}
